<!-- <router-outlet></router-outlet> -->
<mat-drawer-container [hasBackdrop]="" class="container">
    <mat-drawer #drawer [mode]="'over'" class="nav-drawer-container">
        <a mat-button class="nav-list-item">Início</a>
        <a mat-button class="nav-list-item">Cryptos</a>
        <a mat-button class="nav-list-item">Buscar</a>
    </mat-drawer>
    <mat-drawer-content>
        <app-header>
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </app-header>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>